body{
    margin-top: 0px;
    width: 100%;
    height: 50px;
    background-image: url(image/background.jpg);
}


nav{
    background: #594848;
    margin-right: 0px;
    width: 110%;
    overflow: auto;
    margin-left: -5px;
    
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

li{
    float: right;
}

.stock{
    font-size: 45px;
    text-align: center;
    padding-top: 0px;
}

.stockavailable{
    font-size: 35px;
    text-align: center;
    padding: 20px;
    color: aquamarine;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav a{
    margin: 0px;
    width: 120px;
    display: block;
    text-decoration: none;
    text-align: center;
    font-size: 17px;
    color: white;
    padding: 20px 10px;
    font-family: Arial, Helvetica, sans-serif;
}

nav a:hover{
    background: skyblue;
    color: black;
}

.white{
    background-color: antiquewhite;
    width: 110%;
    height: 500%;
}
   

.objective{
text-align: left;
color: aliceblue;
font-size: 15px;
}

#Kofee{
    color:aliceblue;
    font-size: 15px;
    text-align:left
}

h2{
    font-size: 400px;
    text-align: center;
    padding: 40px;
}

h3{
    text-align: center;
    font-size: 40px;
}

.button{
    background-color: gainsboro;
    margin-top: 40px;
    margin-bottom: 30px;
    width: 60px;
}

h2{
    color: #594848;
    font-size: 35px;
    padding: 1px;

}

h3{
    color: bisque;
    align-content: center;
    font-size: 20px;
    padding: 1px;
}

.paragraphy{
    padding-right: 16px;
    text-align: center;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 10px;  
    color: white;
}

button{
    align-items: center;
    width: 90px;
    background-color: #594848;
    color: antiquewhite;
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 10px;
    cursor: pointer;
}

button:hover{
    background-color: black;
    color: aliceblue;
}

.container{
    background-color: bisque;
    margin-left: -5;
    width: 190px;
    height: 260px;
    margin: 20px;
    padding-left: 15px;
    border-radius: 15px;
}

h4{
    color: antiquewhite;
    margin: 30px;
    font-size: 30px;
}

#info{
    color: aliceblue;
    margin: 20px;
    font-size: 20px;
    padding: 50px;
}

#para{
color: white;
font-size: 20px;
font-family: Arial, Helvetica, sans-serif;
text-align: center;
}

.cards{
    width: 299px;
    border-radius: 6px;
    margin: 60px;
    margin-top: 20px;
    box-shadow: 2px 2px 10px black ;
    display: inline-block;
}


.image img{
    width: 300px;
    border-radius: 6px;
}

.title{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.dis{
    text-align: center;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.capp{
   color: black;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 40px;
   background-color: antiquewhite;
}

.tab{
    margin-left: 350px;
}
 
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 45%;
    margin-left: 50px;
  }

  .image1 {
   border-color: white;
   border-radius: 25px;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    color: aquamarine;
    font-weight: 600px;
  }
  
  tr:nth-child(even) {
    background-color: antiquewhite;
  }
.pictures{
margin-left: 50px;
}

.product1{
    background-color: antiquewhite;
}

.barcode{
    margin-left: 350px;
    width: 20px;
    display: inline;
}

.scan{
    display: inline;
}

a{
    color: black;
}